.vscode
.vscode/*
.vscode/**/*
node_modules/*
node_modules/**/*
dist
dist/*
coverage/*
coverage/**/*
.DS_Store
yarn-error.log
newrelic_agent.log
package-lock.json
.env
ormconfig.json
src/config/global.ts
src/config/index.ts
deploy/*
.idea